<%- include('header') %>
<div>
    <nav class="navbar navbar-dark bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="/">Render</a>
            <ul class="nav navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doc">文档 </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">关于我们<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding-top: 25px;">
        <div class="container-fluid">
            <div class="row about-txt">
                <div class="col-sm-6">
                    <img class="" src="/img/qcloud.png" width="500">
                </div>
                <div class="col-sm-6">
                    <blockquote class="blockquote" style="margin-top: 25px;">
                        <h2>腾讯云CDN前端团队</h2>
                        <h6>该服务已在 GitHub 上开源 <a href="https://github.com/Galen-Yip/render" target="_blank"> [传送门]</a></h6>
                        <h6>如有使用问题，请 rtx 联系 @galenye、@alsotang</h6>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>